.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-card{

  width:100%;
  max-width: 250px;
  
  
}

.custom-card img{
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 20px;
  
}

.nav{
  color: rgb(47, 43, 43);
  text-decoration: none;
  font-weight: 500;
  
}

.top{
  background-color: aquamarine;
}

.restocard{

  display: flex;
  flex-direction: row;
}
.star{
  display: flex;
  flex-direction: row;
}
.font{
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
